/* .login_logo{
    width: 200px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
} */
.login{
    background-color: white;
    height: 100vh;
    display: flex;
}
.login_logo{
    width: 100px;
    object-fit: contain;
}
/* .form_login{
    display: flex;
    flex-direction: column;
    width: 30%;
    
} */