.login_logo{
    width: 200px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.login{
    display: flex;
    flex-direction: column;
}
.form_login{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}