/* .login_logo{
    width: 200px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
} */
.login{
    
}
/* .form_login{
    display: flex;
    flex-direction: column;
    width: 30%;
    
} */