.product{
    display: flex;
    flex-direction: column;

}
.product_rating{
    display: flex;
    flex-direction: row;
  
}
.product_price{
    margin-top: 5px;
}
.product_button{
    background-color: #f0c14b;

}
.product_image{
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}
